html {
  background-color: black;
  padding-left: 0;
  padding-right: 0;
  font-family: verdana;
}

.game {
  background-color: grey;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 480px;
  width: 720px;
}
